<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
<article th:fragment="article" th:each="article : ${articleList}"
         id="post-jdk12" class="article article-type-post">
  <div class="article-inner" >
    <header class="article-header">

      <h1>
        <a class="article-title" th:text="${article.articleTitle}" >1321321321321</a>
      </h1>

      <div class="article-meta">
        <div class="article-date">
          <i class="fa fa-calendar"></i>
            <time th:text="${#dates.format(article.articleCreateTime, 'yyyy-MM-dd HH:mm')}">2019-00-00</time>
        </div>

      </div>
    </header>


    <div class="article-entry">
      <p th:text="${#strings.append((#strings.substring(article.articleContent, 0, 100)), '···')}">123123123123123</p>
      <p class="article-more-link">
        <a href="#" th:href="@{'/article/' + ${article.articleId}}">查看更多</a>
      </p>
    </div>

    <footer class="article-footer">

    </footer>
  </div>

</article>
</body>
</html>