<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liyang.blog.mapper.ArticleMapper" >

    <resultMap id="BaseResultMap" type="com.liyang.blog.entity.Article" >
        <id column="article_id" property="articleId" />
        <result column="article_title" property="articleTitle" />
        <result column="article_content" property="articleContent" />
        <result column="article_view_count" property="articleViewCount" />
        <result column="article_comment_count" property="articleCommentCount"  />
        <result column="article_like_count" property="articleLikeCount" />
        <result column="article_update_time" property="articleUpdateTime" />
        <result column="article_create_time" property="articleCreateTime" />
    </resultMap>

    <sql id="tb">article</sql>
    <sql id="Base_Column_List">
        article_id, article_title, article_content, article_view_count,
        article_comment_count, article_like_count,
        article_update_time, article_create_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap" parameterType="Integer">
      select * from
      <include refid="tb"/>
    </select>

    <select id="getArticleById" resultMap="BaseResultMap" parameterType="Integer">
        select *  from
        <include refid="tb"/>
        <where>
            and article_id = #{articleId}
        </where>
    </select>
</mapper>